body {
  background-color: gray;
  color: black;
}

#mypets {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}

.card-text {
  text-align: center;
  padding: 10px 0;
  background-color: lightgray;
}

.card-body {
  text-align: center;
}

.card {
  margin: 10px 0;
}

.type-dino {
  background-color: rgba(255, 171, 0, 0.2);
  color: #ffb300;
}

.type-cat {
  background-color: rgba(0, 213, 255, 0.2);
  color: rgba(0, 174, 255, 0.808);
}

.type-dog {
  background-color: rgba(0, 255, 42, 0.2);
  color: rgba(0, 70, 9, 0.589);
}

.card-img-top {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 3%;
}

.pet-type {
  padding: 5px 0;
  text-align: center;
  margin: 0;
}

.title-bar {
  display: flex;
  justify-content: center;
}

.selector {
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 8%;
  margin: 25px 50px;
}

#show-all {
  background-color: lightgray;
}

#cat-btn {
  background-color: lightblue;
}

#dog-btn {
  background-color: lightgreen;
}

#dino-btn {
  background-color: lightsalmon;
}
